{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Edit Page</h1>
    
    <form action="{% url 'edit' title=title %}" method="post">
        {% csrf_token %}
        <div class="inputContentLabel">
            {{ form.new_page_content.label_tag }}
        </div>
        <div class="inputContent">
            <textarea name="new_page_content" type="text" rows="10" cols="150">{{ content }}</textarea>
        </div>
        <br>
        <input type="submit">
    </form>
    <p>{{ errorMessage }}</p>
{% endblock %}